.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  max-width: 1184px;
  gap: 16px 16px;
  margin: 0 auto;
  padding-top: 118px;
}

.photo-grid__image {
  width: 100%;
}

@media (max-width: 1024px) {
  .photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    max-width: 720px;
    margin: 0 auto;
    padding-top: 64px;
  }
  .photo-grid__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@media screen and (max-width: 544px) {
  .photo-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
    gap: 12px;
    margin: 0 auto;
    padding-top: 38px;
    max-width: 288px;
  }
  .photo-grid__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
